aiohttp==3.7.3; python_version >= "3.6"
alembic==1.4.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
asyncpg==0.21.0; python_full_version >= "3.5.0"
attrs==20.3.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
chardet==3.0.4; python_version >= "3.6"
environs==9.2.0; python_version >= "3.6"
gunicorn==20.0.4; python_version >= "3.4"
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
mako==1.1.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
markupsafe==1.1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
marshmallow==3.9.1; python_version >= "3.5"
multidict==5.0.2; python_version >= "3.6"
psycopg2==2.8.6; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pyjwt==1.7.1
python-dateutil==2.8.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
python-dotenv==0.15.0; python_version >= "3.6"
python-editor==1.0.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
sqlalchemy==1.3.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
strenum==0.4.2
typing-extensions==3.7.4.3; python_version >= "3.6"
ujson==4.0.1; python_version >= "3.6"
uvloop==0.14.0
yarl==1.6.3; python_version >= "3.6"
